
.nav .tiket{
  color: #95c842;
}
.carousel-inner .texto{
  font-size:larger;
  color: white;
}
.card-img{
  padding: 0%;
  margin-top: 0%;
  font-size: 3rem;
  color: white;
}
.oradores{
  text-align: center;
}

.divDoble{
  /*honolulu*/
  background: #3d4447;
  width: auto;
  width: 300 min-content;
}

.container-fluid .navbar{
  background: linear-gradient(70deg, rgba(26,54,68,255), rgba(27,82,113,255));
  color: white;
  text-align: initial;
  width: 100%;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  justify-content:flex-end;
  padding-top: 50PX;
  padding-bottom: 50px;
  align-items: center;
  margin-bottom: 0%;
}

.botonenviar{
  background-color: #95c842 !important;
  border-color: #95c842 !important;
  width: 100%;
  font-size: large;
  margin: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50%;
  padding-right: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 5px;
  border: 2px;
}